@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,800;1,600&display=swap');
body {
    background-color:  #FCEBB6;
    color:#221811;
    font-family: Tahoma, Arial, sans-serif;
}

#wrapper {
    width: 80%;
    background-color: #FEFAEB;
    margin-right: auto;
    margin-left: auto;
}

header {
    background-color: #D2B48C;
    font-family: 'Lora', serif;
    color: #8C3826;
    text-align: center;

}

h1 {
    line-height: 200%;
}

h2 {
    color: #8C3826
}

nav {
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}